:root {
  --bg-primary: #9194a2;
  --bg-red: #fa5959;
  --bg-dark: #242a45;
  --white: #fff;
  --bg-blue: #5267df;
  --font-family-text: "Rubik", "Arial", serif;
}
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--white);
  padding: 0;
  margin: 0;
  font-family: var(--font-family-text);
  font-size: 18px;
  line-height: 28px;
}
img {
  max-width: 100%;
  height: auto;
}

.container_wrapper {
  width: 1440px;
  padding-left: 165px;
  padding-right: 165px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 1110px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.button {
  display: inline-block;
  border: 0;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}

*:focus {
  outline: 2px dotted #ff7500;
  outline-offset: 3px;
}

.main-content {
  flex-grow: 1;
}

/* HEADER */
.site_header {
  background-color: var(--white);
}
.header_inner {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.site_logo {
  margin-right: auto;
}
.site-logo_link {
  text-decoration: none;
  transition: 0.3s ease;
}
.site-logo_link:hover {
  opacity: 0.8;
}
.site-logo_link:active {
  opacity: 0.6;
}
.site-logo_img {
  width: 149px;
  height: 25px;
}

.site-nav_list {
  display: flex;
  padding: 0;
  align-items: center;
}
.site-nav-list_item {
  list-style: none;
}
.site-nav-list_item:not(:last-child) {
  margin-right: 40px;
}
.nav-list_link {
  color: var(--bg-dark);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  transition: 0.3s ease;
}
.nav-list_link:hover {
  color: var(--bg-red);
}
.nav-list_link:active {
  opacity: 0.6;
}
.header_button {
  background-color: var(--bg-red);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  padding: 14px 24px 14px 24px;
  border: 2px solid var(--bg-red);
}
.header-button_link {
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  background-color: var(--bg-red);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  border: 2px solid var(--bg-red);
  color: var(--white);
  padding: 16px 26px;
  padding: 12px 32px 11px 34px;
  transition: 0.3s ease;
}
.header-button_link:hover {
  color: var(--bg-red);
  background-color: var(--white);
}
.header-button_link:active {
  opacity: 0.6;
}

/* CTA_SECTION  */
.container_inner {
  display: flex;
}
.container-inner_content {
  display: flex;
  flex-direction: column;
}
.container-inner_header {
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  margin: 0;
  margin-bottom: 24px;
  /* flex-grow: 1; */
}
.container-inner_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--bg-dark);
  opacity: 0.5;
  margin: 0;
  margin-bottom: 32px;
  flex-grow: 1;
}
.container-inner_links {
  display: flex;
}
.container-inner_link:not(:last-child) {
  margin-right: 24px;
}
.container-inner_link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  padding: 10px 24px;
  border-radius: 5px;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
}
.btn_chrome {
  color: var(--white);
  background-color: var(--bg-blue);
}
.btn_chrome:hover {
  color: var(--bg-blue);
  border: 2px solid var(--bg-blue);
  background-color: var(--white);
}
.btn_chrome:active {
  color: var(--bg-blue);
  opacity: 0.6;
}
.btn_firefox {
  color: var(--bg-dark);
  opacity: 0.75;
  background-color: #f7f7f7;
}
.btn_firefox:hover {
  color: var(--bg-dark);
  border: 2px solid var(--bg-dark);
  background-color: var(--white);
}
.btn_firefox:active {
  color: var(--bg-dark);
  opacity: 0.6;
}

/* FEATURES  */
.features_inner {
  padding-top: 80px;
  margin-bottom: 80px;
}
.features_title {
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  margin-bottom: 16px;
}
.features_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  opacity: 0.5;
  margin-bottom: 72px;
}
.features_list {
  padding: 0;
  display: flex;
  justify-content: center;
}
.features-list_item {
  list-style-type: none;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}
.features-list-item_link {
  color: var(--bg-dark);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.53px;
  padding: 0 40px 27px 40px;
  transition: 0.3s ease;
}
.features-list-item_link:hover {
  color: var(--bg-red);
  border-bottom: 4px solid #fa5959;
}
.features-list-item_link:active {
  color: var(--bg-red);
  border-bottom: 4px solid #fa5959;
  opacity: 0.6;
}
.more-info_inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
.more-info-inner_img {
  background-color: var(--bg-primary);
  margin-right: 125px;
}
.more-info-inner_content {
  display: flex;
  flex-direction: column;
}
.more-info_title {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  margin-bottom: 16px;
}
.more-info-inner_text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.5;
  margin-bottom: 32px;
}
.more-info-inner_link {
  display: inline-block;
  text-decoration: none;
  width: 132px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  border-radius: 5px;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  color: var(--white);
  background-color: var(--bg-blue);
  padding: 10px 24px;
}
.more-info-inner_link:hover {
  opacity: 0.8;
}
.more-info-inner_link:active {
  opacity: 0.6;
}

/* EXTENSIONS  */
.extensions_inner {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
}
.extensions_title {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  margin-bottom: 16px;
}
.extension_text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  opacity: 0.5;
  margin-bottom: 48px;
}
.extensions_list {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-bottom: 140px;
}
.extensions-list_item {
  width: 280px;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  border-radius: 15px;
}
.extensions-list_item:not(:last-child) {
  margin-right: 34px;
}
.extensions-list-item_img {
  padding-top: 49px;
  width: 102px;
  height: 100px;
  margin-bottom: 32px;
}
.extensions-list-item_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25px;
  margin: 0;
  margin-bottom: 12px;
}
.extensions-list-item_text {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  opacity: 0.5;
  margin: 0;
  margin-bottom: 60px;
}
.extensions-list-item_link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  color: var(--white);
  background-color: var(--bg-blue);
  padding: 10px 35px;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  margin: 24px;
}
.extensions-list-item_link:hover {
  opacity: 0.8;
}
.extensions-list-item_link:active {
  opacity: 0.6;
}
.list-item_second {
  position: absolute;
  top: 15%;
  right: 280px;
  left: 312px;
}
.list-item_third {
  position: absolute;
  top: 30%;
  right: 0;
}

/* QUESTIONS  */
.questions {
  display: flex;
  flex-direction: column;
}
.container_wrapper {
}
.questions_inner {
  margin-right: auto;
  margin-left: auto;
  padding-left: 285px;
  padding-right: 285px;
}
.questions_title {
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  margin-bottom: 16px;
}
.questions_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  opacity: 0.5;
  padding-bottom: 56px;
  border-bottom: 1px rgba(36, 42, 69, 0.15) solid;
}
.questions-dropdown_list {
  padding: 0;
  margin-bottom: 54px;
}
.dropdowm-list_item {
  position: relative;
  list-style: none;
  border-bottom: 1px rgba(36, 42, 69, 0.15) solid;
}
.questions-dropdown_link {
  position: relative;
  display: block;
  margin-top: 19px;
  margin-bottom: 19px;
  color: var(--bg-dark);
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.questions-dropdown_link::after {
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  content: " ";
  width: 16px;
  height: 8px;
  background-image: url(../img/down-arrow.svg);
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
.questions-dropdown_link:hover {
  color: var(--bg-red);
}
.dropdown-list-item_text {
  display: none;
  padding-bottom: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  opacity: 0.75;
  letter-spacing: 0.15px;
  margin: 0;
}
.questions-dropdown_link:hover + .dropdown-list-item_text {
  display: block;
  color: var(--bg-dark);
}

.questions_btn {
  width: 125px;
  display: block;
  color: var(--white);
  background-color: var(--bg-blue);
  padding: 10px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
  align-items: center;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
.questions_btn:hover {
  opacity: 0.8;
}
.questions_btn:active {
  opacity: 0.6;
}

/* CONTACT  */
.contact {
  background-color: var(--bg-blue);
  color: var(--white);
  padding-bottom: 78px;
}
.users {
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 5px;
  color: var(--white);
  margin-bottom: 24px;
  margin-top: 58px;
  text-transform: uppercase;
}
.update {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.1px;
  margin-bottom: 36px;
}
.contact_form {
  display: flex;
  justify-content: center;
  margin: 0;
}
.contact_email {
  color: rgba(36, 42, 69, 0.250109);
  background-color: var(--white);
  padding: 10px 113px 10px 20px;
  border-radius: 5px;
  margin-right: 16px;
}
.contact_btn {
  color: var(--white);
  background-color: var(--bg-red);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  padding: 10px 24px;
}
.contact_btn:hover {
  background-color: var(--white);
  color: var(--bg-red);
}

/* FOOTER  */
.site_footer {
  background-color: var(--bg-dark);
}
.footer_inner {
  display: flex;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 35px;
}
.footer_logo {
  margin-right: 65px;
}
.footer_nav {
  margin-right: auto;
}
.footer-nav-item_link {
  color: var(--white);
}
.socials {
  display: flex;
}
.socials-list_item {
  list-style: none;
}
.socials-list_item:not(:last-child) {
  margin-right: 40px;
}
.socials-list-item_link {
  text-decoration: none;
  background-color: var(--white);
}
.socials-list-item_img {
  width: 24px;
  height: 24px;
}
.socials-list-item_img:hover {
  color: var(--bg-red);
  transition: ease 0.3s;
}
.socials-list-item_img:active {
  color: var(--bg-red);
  transition: ease 0.3s;
  opacity: 0.6;
}
